@tailwind base;

h2,
.h2 {
  @apply text-px24 font-bold text-center;
}

p,
.p1 {
  @apply text-px13 text-left;
}

@tailwind components;
@tailwind utilities;

body {
  /* Create react app defaults */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}